/* Typography */
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  font-family: 'Lato', sans-serif;
}

h1 {
  font-size: 2.8em;
}

p {
  margin: 10px 0px 10px 0px;
}

a {
  color: #2B7586;
  text-decoration: none;
}

a:hover {
  color: #6A9EAA;
}

/* Card settings */
.grid_card {
  overflow: visible;
}

.select-box h4 {
  padding: 0px 0px 20px 0px;
  color: #193351;
}

.intro .panel-content {
  border-top: 2px solid #262626;
}

.select-box .panel-content {
  background-color: #6A9EAA30;
}

.map .panel-content {
  background-color: #d4dadc;
}

.footer .panel-content {
  border-top: 2px solid #262626;
}

/* Other elements */
.fa-github {
  color:#262626;
}
