#card {
  box-shadow: 0px 0px 3px grey;
  border-radius: 5px;
  margin: 10px;
  padding: 10px 20px 10px 20px;
}

#leafletMap-map {
  box-shadow: 0px 0px 3px grey;
  border-radius: 5px;
  margin: 10px;
  padding: 10px 20px 10px 20px;
}

.logo-brc-team {
  padding-top: 10px;
}

.logo-hei {
  padding-top: 10px;
  padding-bottom: 20px;
}

.logo-github {
  padding-top: 15px;
  padding-right: 10px;
  color: #262626;
}

.fa-github {
  color:#262626;
}