/* Typography */
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

* {
  font-family: 'Lato', sans-serif;
}

h1 {
  font-size: 2.8em;
}

.indicator-details p {
  margin: 10px 0px 10px 0px;
  line-height: 1.6;
}

.footer p {
  margin: 10px 0px 10px 0px;
  line-height: 1.6;
}

a {
  color: #1d70b8;
}

a:hover {
  color: #102f73;
}

.phase-banner {
  color: white;
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: 1px;
  background-color: #6c757d;
  padding-top: 5px;
  padding-right: 8px;
  padding-bottom: 4px;
  padding-left: 8px;
  margin-right: 10px;
  border-radius: 3px;
}

.guide-banner {
  color: white;
  font-weight: 700;
  font-size: 2.45rem;
  letter-spacing: 1px;
  background-color: #027bff;
  border: 1px solid #027bff;
  margin-top: -15px;
  padding-top: 9px;
  padding-right: 1.5em;
  padding-bottom: 8px;
  padding-left: 1.5em;
  border-radius: 50px;
}

.guide-banner:hover {
  background-color: #1a87ff;
  border-color: #717171;
  box-shadow: rgba(0, 0, 0, .1) 0 2px 1px;
}

.guide-banner:active {
  outline: none;
  transform: translateY(2px);
}

.note-banner {
  color: white;
  font-weight: 700;
  font-size: 1rem;
  letter-spacing: 1px;
  background-color: #ffc008;
  padding-top: 5px;
  padding-right: 8px;
  padding-bottom: 4px;
  padding-left: 8px;
  margin-right: 10px;
  border-radius: 3px;
}

.action-button {
  font-weight: 700;
  background-color: #f8f9fa;
  border: 1px solid #E0E0E0;
  border-radius: 100%;
  margin-top: -4px;
  margin-left: -30px;
  padding-top: 9px;
  padding-right: 18px;
  padding-bottom: 9px;
  padding-left: 18px;
}

.action-button:hover {
  background-color: #f8f9fa;
  border-color: #717171;
  box-shadow: rgba(0, 0, 0, .1) 0 2px 1px;
}

.action-button:active {
  outline: none;
  transform: translateY(2px);
}

/* Card settings */
.grid_card {
  overflow: visible;
}

.grid_card.vertical_stack .panel-content {
  align-items: start;
}

.card-header {
  width: 34%;
  background-color: transparent;
  border-bottom: none;
  text-decoration: underline;
  color: #1d70b8;
}

.card-header:hover {
  color: #102f73;
}

.select-box h4 {
  padding: 0px 0px 10px 0px;
  color: #193351;
}

.header .panel-content {
  border-bottom: 2px solid #262626;
}

.select-box .panel-content {
  background-color: #6A9EAA30;
  padding-top: 0px;
}

.map .panel-content {
  background-color: #d4dadc;
}

.footer .panel-content {
  border-top: 2px solid #262626;
}